*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 22px; */
    /* background-color: #622A1F; */
}
body{
    background:linear-gradient(180deg,#000,#622A1F,#491e15,#000);
    background-repeat: no-repeat;
    
}

.container{
    width: 1440px;
    margin: 0 auto;
    background-color: black;
    /* padding: 0 40px; */
    opacity: 0.9;
}

main{
    position: relative;
    padding: 0 40px;
    top: 69px;
}

header{
    width: 1440px;
    height: 69px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    margin: 0 auto;
    /* border-bottom: 1px solid seashell; */
    position: fixed;
    z-index: 200;
    box-shadow: 0 2px 2px seashell;
}

header img{
    height: 50px;
}

.list_a{
    display: flex;
    color: seashell;
    font-size: 22px;
    /* border: 2px solid white; */
    
}
a{
    color: seashell;
    padding: 5px;
}

.section_1{
    position: relative;
}
.section_1 img{
    width: 100%;
}
.box_inner_sec_1{
    color: seashell;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
    line-height: 3rem;
}

.section_2{
    width: 1000px;
    margin: 50px auto;
}

.sec_2_inner_1{
    color: seashell;
    text-align: center;
    padding: 20px;
    line-height: 3rem;
    font-size: 22px;
}

.sec_2_inner_2{
    display: flex;
    justify-content: space-between;
}
.sec_2_inner_3{
    display: flex;
    justify-content: center;
}
.sec_2_img img{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}
.sec_2_img{
    color: seashell;
    font-size: 22px;
    padding: 20px;
    text-align: center;
}
.section_3{
    height: 650px;
    /* border: 2px solid white; */
    background-image: url('./src/img-locations-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.sec_3_text{
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
    color: seashell;
}

.sec_3_inner{
    /* border: 2px solid white; */
    color: seashell;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;

}
.sec_3_inner div{
    width: 300px;
    height: 300px;
    text-align: center;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 22px;
    background-color: black;
    
}

.section_4{
    height: 200px;
    background-color: black;
    color: seashell;
    /* border: 2px solid white; */
    text-align: center;
    padding: 10px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

footer{
    height: 100px;
    background-color: black;
    color: seashell;
    /* border: 2px solid white; */
    position: relative;
    bottom: -70px;
    font-size: 22px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

footer h5{
    width: 1360px;
    /* border: 2px solid white; */
    margin: 0 auto;
}